.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

ul {
  list-style-type: lower-roman;
}

li:hover {
  background-color: #a6d78c;
  color:black;
}

li {
  display: flex;
  justify-content: space-between;

  border-radius: 5px;
  min-width: 400px;
}

li p {
  margin: 5px;
}